.hidden {
    display: none;
}

.parent {
    width: 95vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.usmap {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.modal {
    z-index: 9999 !important; /* Adjust the value as needed */
}