{{- if .Values.secrets.privateKey.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "coordinator.fullname" . }}-private-key
  labels:
    {{- include "coordinator.labels" . | nindent 4 }}
type: Opaque
stringData:
  private-key.pem: {{ .Values.secrets.privateKey.value | default "REPLACE_WITH_PRIVATE_KEY" | quote }}
{{- end }}
