{{- if and .Values.secrets.privateKey.create (not .Values.secrets.privateKey.external) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "coordinator.fullname" . }}-private-key
  labels:
    {{- include "coordinator.labels" . | nindent 4 }}
type: Opaque
stringData:
  private-key.pem: {{ .Values.secrets.privateKey.value | quote }}
{{- end }}
---
{{- if .Values.secrets.lnd.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "coordinator.fullname" . }}-lnd
  labels:
    {{- include "coordinator.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.lnd.macaroon }}
  admin.macaroon: {{ .Values.secrets.lnd.macaroon }}
  {{- end }}
  {{- if .Values.secrets.lnd.tlsCert }}
  tls.cert: {{ .Values.secrets.lnd.tlsCert }}
  {{- end }}
{{- end }}
